RewriteEngine On
RewriteBase /riptide/

# Jeśli request nie jest prawdziwym plikiem/folderem, idź do front controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
